@{
    ViewData["Title"] = "CS50 Cheatsheets";

    <div>
        <img src="\images\cheatsheets.png" alt="CS50 Cheatsheets" height="150" width="2000">
    </div>

    <h3> Study and help your peers by uploading the most important and useful notes for each CS50 quiz! </h3>

    <div>
    <h2> QUIZ 0 </h2>
    Submit your notes here for Quiz 0
    </div>

    
    @model List<FinalProject.Models.QuizNote>
    <div>
    
        <form asp-action="NoteSubmit0" class="form-inline mbm" method="POST">
           Name: <input type="text" name="name"><br>
  

<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>
            <input class="btn" type="submit" value="Submit Quiz Note" />
        </form>

    </div>

    <div>
        (ALL SUGGESTED QUIZ0NOTES WILL BE LOOPED DOWN HERE)
        <form asp-action="Print" class="form-inline mbm" method="POST">
        
          @foreach(var note in Model)
                {
                    <input type="checkbox" name="vehicle" value="">@Model.NoteText <br>    
                }
                <br>
        </form>
    </div>


      <div>
    <h2> QUIZ 1 </h2>
    Submit your notes here for Quiz 1
    </div>
    
    <div>
    
        <form asp-action="NoteSubmit1" class="form-inline mbm" method="POST">
           Name: <input type="text" name="name"><br>
  

<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>
            <input class="btn" type="submit" value="Submit Quiz Note" />
        </form>

    </div>

    <div>
        (ALL SUGGESTED QUIZ1NOTES WILL BE LOOPED DOWN HERE)
    </div>


}

