@{
    ViewData["Title"] = "CS50 Cheatsheets";

    <div>
        <img src="\images\cheatsheets.png" alt="CS50 Cheatsheets" height="150" width="2000">
    </div>

    <h3> Thanks for your submission! </h3>

   


}

