@{
    ViewData["Title"] = "CS50 Cheatsheets";
<body>

    @model List<string>

    <div>
       
            @for (int x = 0; x < Model.Count; x++)
            {
                
                <p> @Model.ToString() </p> <br>
                <h1> blah </h1>
            }
                 
       

    </div>

</body>


}
